* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'name';
    src: url('assets/font/Amagro.ttf');
}
body {
	background: linear-gradient(to bottom, 
								rgba(140, 122, 122, 1) 0%, 
								rgba(175, 135, 124, 1) 65%, 
								rgba(175, 135, 124, 1) 100%
								)
	fixed;
	background: url(assets/bgbody.jpg) no-repeat center center fixed;
	background-size: cover;
	color: #EFFBAE;
	justify-content:center;
    text-align: center;
}
.container {
  margin-left: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  backdrop-filter: blur(8px) saturate(100%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.25);
  border-radius: 15px;
  padding: 38px;  
  filter: drop-shadow(0 30px 10px rgba(0,0,0,0.125));
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.wrapper {
  width: 300px;
  height: 100%;
  align-items: center;
  justify-content:center;
  text-align: center;
}

.banner-image-3D {
  background-image: url(assets/card-banners/3D.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
}
.banner-image-logo {
  background-image: url(assets/card-banners/logo.png?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
}
.banner-image-site {
  background-image: url(assets/card-banners/site.jpg?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px;
}
h1{
  font-family: 'Righteous', sans-serif;
  color: rgba(255,255,255,0.98);
  text-transform: uppercase;
  font-size: 2.4rem;
}

p {
  color: #EFFBAE;
  font-family: 'name', Amogra;
  text-align: center;
  font-size: 0.8rem;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
}

header {
    height: 30vh; /* Высота хедера, можно установить в нужную вам величину */
    background: rgba(23, 24, 16, 0.55);;
}

.glass-effect {
    backdrop-filter: blur(2px);
    box-shadow: 0 4px 16px 0 rgba(255, 255, 255, 0.18);
    padding: 20px;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 15px; /* Отступ между логотипом и текстом */
}

.logo {
    width: 150px;
    height: 150px;
}

.text-container {
    display: flex;
    flex-direction: column; /* Текст внутри контейнера теперь идет по вертикали */
}

.company-name {
    font-family: 'name', Amagro;
    font-size: 2em;
    margin: 0;
    color: #EFFBAE;
}

.company-tagline {
	font-family: 'name', Amagro;
    font-size: 1em;
    color: #EFFBAE;
}
table {
	background: #EFFBAE;
}
nav {
    display: flex;
    justify-content: right;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

nav ul li {
    display: flex;
    margin-top: -15vw;
    align-items: center;
    justify-content: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 1.2em;
    color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

ul li a div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    position: relative;
}

ul li a div:before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    background: #EFFBAE;
    color: #171810;
    padding: 1.5vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    transform: rotateX(90deg) translateY(2vw);
    transform-origin: bottom;
}

ul li a div:hover:before {
    transform: rotateX(0deg) translateY(0);
}

ul li a div:after {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 0;
    background: #171810;
    color: #EFFBAE;
    padding: 1.5vw;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s ease-in-out;
    transform: rotateX(0deg) translateY(0);
    transform-origin: top;
}

ul li a div:hover:after {
    transform: rotateX(90deg) translateY(-2vw);
}

footer {
	width: 100%;
	background: rgba(23, 24, 16, 0.55);
	text-align: left;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex: none;
}

footer a {
	margin-left: 10px;
}
